* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: kodchasan, sans-serif

}
.musaispage {
    background: repeating-linear-gradient(
        to right,
        #093C3D,
        #093C3D 50px,
        #093C3D 10px,
        #0E4947 10px,
        #0E4947 100px
    );
    width: 100%;
    height: 300rem;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
.headlogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;

}
.logoimg {
     width: 5rem;
     height: 5rem;
}
.logoimg img {
    max-width: 100%;
    height: auto;
}
.logotext {
    color: white;
    font-family: kodchasan;
    font-weight: 600;
    font-size: 1.6rem;
}
.hero {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color:  white;
    line-height: 1.5;
    font-family: kodchasan;
    font-size: 2.5rem;
    font-weight: 600;
}
.hero h6 {
    font-size: 1.4rem;
    font-weight: 500;
}
.hero p {
    font-size: 1rem;
    font-weight: 500;
}
#bld {
    font-weight: 700;
}
#herobtn {
    padding: 1rem;
    border-radius: 6rem;
    border:  none;
    margin-top: 1rem;
    margin-bottom: 0,5rem;
}
#herobtn a {
    text-decoration: none;
    color:  black;
    font-size: 1.2rem;
    font-weight: 600;
}
.allproject-img {
    width: 99vw;
    height: 50vh;
    display: flex;
    margin-top: 3rem;
}
.pro1 img {
     width: 16.9rem;
     height: 20rem;
}
.allproject img {
    max-width: 100%;
  
}
.allproject a {
    color: white;
    margin-left: 75rem;
}
.whyclients {
    width: 90vw;
    height: 34rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 4px solid grey;
    border-radius: 1.5rem;
    align-items: center;
    color: white;
    font-family: kodchasan;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.178);
    box-shadow: inset 0 0 50rem black;
    background-image: radial-gradient(rgba(31, 88, 110, 0.322) 3px, transparent 0);
    background-position: -19px -19px;
    background-size: 25px 25px;
    margin-top: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

}

.whyheading h1 {
    font-size: 5rem;
}
.why-contents {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    margin-top: 5rem;
    
}
.why-contents img {
    width: 60%;
}
.why-content {
    width: 25vw;
     height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    line-height: 1.5;
    margin: 1rem;
}

.why-icon {
    width: 8rem;
    height: 8rem;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.ui-ux {
    width: 92vw;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    font-family: kodchasan;
    margin-top: 5rem;
    background: #093C3D;
    background-image: radial-gradient(rgba(31, 88, 110, 0.322) 3px, transparent 0);
    background-position: -15px -15px;
    background-size: 25px 25px;
    gap: 2rem;

}
.ui-ux img {
    width: 80%;
}

.secondpage {
    background-color: #093C3D;
    width: 100vw;
    height: 1900vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0rem 0rem 50rem rgba(0, 0, 0, 0.918);

}
.expertise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-top: 5rem;
    line-height: 1.7;
}
.expertise h2 {
    font-size: 3rem;
    font-weight: 600;
}
.expertise p {
    font-size: 1rem;
}
.skills {
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
    place-items: center;
    margin-top: 2rem;
    padding: 5rem;
    padding-left: 12rem;
    padding-right: 14rem;
}


.skill1 {
    border: 4px solid rgb(241, 245, 247);
    width: 15rem;
    height: 10rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(129, 184, 209);
    transform: rotate(-2deg);
    box-shadow: inset 0 0 2rem black;
    background-color: #194041;
}
.skill2 {
    border: 4px solid rgb(234, 239, 241);
    width: 15rem;
    height: 10rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(129, 184, 209);
    transform: rotate(10deg);
    box-shadow: inset 0 0 2rem black;
    background-color: #093C3D;
}
.skill3 {
    border: 4px solid rgb(241, 245, 247);
    width: 15rem;
    height: 10rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(129, 184, 209);
    transform: rotate(-8deg);
    box-shadow: inset 0 0 2rem black;
    background-color: #093C3D;
}
.skill4 {
    border: 4px solid rgb(240, 243, 245);
    width: 15rem;
    height: 10rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(129, 184, 209);
    transform: rotate(-10deg);
    box-shadow: inset 0 0 2rem black;
    background-color: #194041;
}
.skill5 {
    border: 4px solid rgb(238, 242, 243);
    width: 15rem;
    height: 10rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(129, 184, 209);
    transform: rotate(-4deg);
    box-shadow: inset 0 0 2rem black;
    background-color: #093C3D;
}
.skill6 {
    border: 4px solid rgb(244, 247, 248);
    width: 15rem;
    height: 10rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(129, 184, 209);
    transform: rotate(10deg);
    box-shadow: inset 0 0 2rem black;
    background-color: #093C3D;
}
.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    height: 150vh;
    

}
.testimonial-head {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     margin-top: 2rem;
     font-size: 2rem;
     font-weight: 600;
}
.testimonial-head p {
    font-size: 1rem;
}

.testimonial-flex {
    display: flex;
    justify-content:  space-evenly;
     background-color: inherit;
     padding: 10px;
     width: 80vw;
     height: 130vh;
     margin-top: 3rem;
}
.testimonial-flex1 {
    display: flex;
    flex-direction: column;
    justify-content:  space-between;
    width: 25vw;
}
.testimonial-flex2 {
    display: flex;
    flex-direction: column;
    justify-content:  space-between;
    width: 25vw;
}
.testimonial-flex3 {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    justify-content:  space-between;
    width: 25vw;
}

.testi-one {
    height: 52vh;
    background-color: white;
    padding: 20px;
    width: 25vw;
}
.testi-two {
    background-color: white;
    padding: 20px;
    width: 25vw;
    height: 50vh;
}
.testi-three {
    background-color: white;
    padding: 20px;
    width: 25vw;
    height: 20vh;
}
.testi-four {
    background-color: white;
    padding: 20px;
    width: 25vw;
    height: 30vh;
    
}
.testi-five {
    background-color: white;
    padding: 20px;
    width: 25vw;
    height: 40vh;
}
.testi-six {
    background-color: white;
    padding: 20px;
    width: 25vw;
    height: 52vh;
}
.testi-seven {
    background-color: white;
    padding: 20px;
    width: 25vw;
    height: 72vh;
}
.testi-eight {
    background-color: white;
    padding: 20px;
    width: 25vw;
    height: 52vh;
}
.plan {
    width: 100%;
    height: 170vh;
    background-image: radial-gradient(rgba(31, 88, 110, 0.322) 3px, transparent 0);
    background-position: -19px -19px;
    background-size: 25px 25px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     line-height: 1.5;
     gap: 1rem;
     color: white;
}

.plan-head h2 {
    font-size: 3rem;
}
.plan button  {
    width: 20rem;
    height: 3rem;
    border: 1px solid grey;
    background-color: inherit;
    border-radius: 5rem;
    align-items: center;
    display: flex;
    padding: 2px;
    margin-top: 4rem;
}
#monthly {
    width: 10rem;
    height: 2.4rem;
    border-radius: 5rem;
    border: none;
    background-color: #30d6d1;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}
#yearly {
    width: 10rem;
    height: 2.4rem;
    border-radius: 5rem;
    border: none;
    background-color: inherit;
    color:  white;
    font-size: 1.2rem;
    font-weight: 600;
}
.plan-contents {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     width: 90%;
     height: 100vh;
}
.plan-price {
    width: 90%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 5rem;
    line-height: 2;

}
.plan1  {
    width: 25%;
    height: 75vh;
    border: 2px solid rgb(51, 95, 51);
    border-radius: 1rem;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     font-size: 1.2rem;
     color:  white;
     box-shadow: inset 0 0 40rem black;
}
.plan1 button {
     width: 70%;
     height: 3rem;
     color: white;
     text-align: center;
     justify-content: center;
     font-size: 1rem;
     font-weight: 600;
     box-shadow: inset 2rem 0 2rem rgba(0, 0, 0, 0.87);
     border: 2px solid grey;
      border-radius: 1rem;
     
}
.plan2  {
    width: 25%;
    height: 90vh;
    border: 2px solid rgb(51, 95, 51);
    border-radius: 1rem;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     font-size: 1.6rem;
     color:  white;
     box-shadow: inset 0 0 15rem black;
}
.plan2 button {
    width: 70%;
    height: 3rem;
    color: rgb(4, 68, 4);
    text-align: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: white;
    border-radius: 2rem;
}
.plan2-price {
    width: 90%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    text-align: left;
    margin-left: 5rem;

}
.plan2span {
    font-size: 2rem;
}
.span2-color {
    color: #30d6d1;
}
.plan3 {
    width: 25%;
    height: 90vh;
    border: 2px solid rgb(51, 95, 51);
    border-radius: 1rem;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     font-size: 1.6rem;
     color:  white;
     box-shadow: inset 0 0 15rem black;
}
.plan3 button {
    width: 70%;
    height: 3rem;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
    box-shadow: inset 2rem 0 2rem rgba(0, 0, 0, 0.87);
    border: 2px solid grey;
      border-radius: 1rem;
}
footer {
    width: 90%;
    height: 25vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: radial-gradient(rgba(31, 88, 110, 0.322) 3px, transparent 0);
    background-position: -19px -19px;
    background-size: 25px 25px;
    margin-top: 5rem;
}
.footlogo {
    display: flex;
    align-items: center;
}
.media {
    color: white;
    font-size: 1.8rem;
}